<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <form method="POST" action="">
            {% csrf_token %}
            {{form.title}}
            <input type='submit' name="Create Task">
        </form>
        {% for task in tasks %}
        <div>
            {% if task.complete %}
                <p>
                   <s><i> {{task}}</i></s>
                    <a href="{% url 'updateTask' task.id %}">Update</a>
                    <a href="{% url 'deletetask' task.id %}">Delete</a>
                </p>
            {% else %}
                <p>
                    {{task}}
                    <a href="{% url 'updateTask' task.id %}">Update</a>
                    <a href="{% url 'deletetask' task.id %}">Delete</a>
                </p>
            {% endif %}

        </div>
        {% endfor %}
    
    </body>
</html>